<h1>{{ musician.first_name }} {{ musician.last_name }}</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Album Name</th>
      <th>Release Date</th>
      <th>Rating</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for album in albums %}
      <tr>
        <td>{{ album.id }}</td>
        <td>{{ album.album_name }}</td>
        <td>{{ album.release_date|date:"d-M-Y" }}</td>
        <td>{{ album.rating }}</td>
        <td>
          <a href="{% url 'edit_album' album_id=album.id %}">Edit</a>
          <a href="{% url 'delete_album' album_id=album.id %}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
